.main-container {
    margin: 10px auto auto;
    width: 95%;

}

.main__wrapper {
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    color: white;
    padding: 10px;
}

.main__body{
    color: white;
    margin-top: 5px;
    padding: 15px;
}