{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/defoult.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/author_detail.css' %}" type="text/css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(106,68,76,1) 100%);">
                        <div class="card-body text-white">
                            <span>{{ user.username }}</span>
                            <button onclick="location.href='{% url 'index' %}'">
                                <- Назад
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
</body>
</html>